{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "TISSO VISION"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Subheading",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "text",
      "id": "gift_guide_title",
      "label": "Gift Guide Title",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "gift_guide_description",
      "label": "Gift Guide Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "shop_button_text",
      "label": "Shop Button Text",
      "default": "SHOP NOW"
    },
    {
      "type": "text",
      "id": "banner_text",
      "label": "Banner Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ]
}
{% endschema %}

<div class="container">
  
  <div class="frame1">
    
    <div class="img-1">
      <div class="header">
        <h2>{{ section.settings.main_heading }}</h2>
        <h5>{{ section.settings.sub_heading }}</h5>
        <button id="btn" >{{ section.settings.button_text }} <span class="arrow">→</span></button>
        <div class="cart-icon">
          <a href="/cart">
            <img src="{{ 'icon-cart.svg' | asset_url }}" alt="Cart">
          </a>
        </div>
      </div>
    </div>

    <div class="guide-session" >
      <div class="session-side1" >
        <h1>{{ section.settings.gift_guide_title }}</h1>
        <div class="para" >
          <h6>{{ section.settings.gift_guide_description }}</h6>
        </div>
        <button id="shop-btn" >{{ section.settings.shop_button_text }} <span class="arrow">→</span></button>
      </div>
      <div class="session-side2" >
      </div>
      <div class="banner" >
        <h5>{{ section.settings.banner_text }}</h5>
      </div>
    </div>
  </div>
  
</div>

{% style %}
*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: 'Oswald', sans-serif;
}

.img-1 {
  padding-left : 40px;
  width: 100%;
  height: 420px;
  background-image: url({{ 'Frame.svg' | asset_url }});
  background-size: cover;
  background-position: center top -87px ;
  position: relative;
}

.header {
  width : 100%;
  height:60px;
  display : flex;
  align-items : center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(248, 245, 245);
  padding: 2px;
}

.header h2 {
  margin-left : 30px;
}

.header h5 {
  font-weight : normal;
  flex-grow :1
}

#btn {
  margin-right : 10px;
  background-color: yellow;
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  cursor : pointer;
}
.arrow {
  margin-left : 8px;
  font-size: 16px;
  font-weight: bolder;
}
.guide-session{
  display : flex;
  justify-content : center;
  align-items : center;
  margin-top : 5px;
  position : relative;
  
}
.guide-session .para{
  width : 450px;
  font-size : 24px;
  margin-top : 30px;
}

.guide-session h1{
  font-size : 55px;
}
.para h6{
  font-weight : normal;
}

#shop-btn{
  margin-top : 30px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.session-side1 {
  margin-left : 30px;
  width: 45%;
  flex-grow: 1;
}
  
.session-side2 {
  width: 55%;
  height: 420px;
  background-image: url({{ 'Frame.svg' | asset_url }});
  background-size: cover;
  position: relative;
}
.banner{
  position: absolute;
  bottom : 9px;
  left : 0;
  transform : transalte(-50%);
  width : 100%;
  height:35px;
  text-align: center;
  background-color: rgb(248, 245, 245);
  padding: 10px;
}
.banner h5{
  font-weight:normal;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


{% endstyle %}
